:root {
  --btn-gray: rgb(232, 232, 232);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--btn-gray);
  font-family: sans-serif;
}

.section {
  margin-top: 40px;
}

.container {
  width: 1300px;
  margin: 0 40px;

}

.background-img {
  width: 100%;

}

.btn {
  background-image: -webkit-linear-gradient(top, #e1e0de, #fff);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  -webkit-transition: all .1s linear;
	transition: all .1s linear;
  border: none;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.on-off {
  height: 20px;
  width: 60px;
}

#btn-on {
  position: absolute;
  top: 140px;
  left: 982px;
}

#btn-off {
  position: absolute;
  top: 140px;
  left: 1072px;
}

/* Тумблер 3 */
.tumblr {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 383px;
  left: 378px;
  background-color: var(--btn-gray); 
  border: solid 1px gray;
  cursor: pointer;
  transition: .2s ease;
  display:flex;
  justify-content:center;
  align-items:center;
}

.tumblr:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tumblr-line {
  height: 4px;
  width: 100%;
  background-color: rgb(83, 83, 83);
  border-radius: 2px;
 }

 .tumblr-center {
  position:absolute;
  justify-content:center;
  align-items:center;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
  height: 10px;
  width: 10px;
 }

.tumblr-off {
  transform: rotate(0deg);
}

.tumblr-on {
  transform: rotate(90deg);
}

/* чекбоксы */
.checkboxes-lights {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 310px;
  left: 615px;
}

.check-lights {
  width: 100%;
  height: 13px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.checkboxes-btn {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 330px;
  left: 615px;
}

.check-btn {
  width: 100%;
  height: 13px;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-around;
  padding: 2px 20px;
}

.lights {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: rgb(255, 255, 182);
  box-shadow: 0px 0px 5px 3px rgb(225, 255, 52);
}

.lights-btn {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.show-lights {
  display: none;
}

.hide-light {
  background-color: transparent;
  box-shadow: none;
}

.ampermetr {
  width: 50px;
  height: 40px;
  border: solid 1px black;
  background-color: white;
  font-weight: 600;
}

#amper0 {
  position: absolute;
  top: 510px;
  left: 110px;
}

#amper1 {
  position: absolute;
  top: 485px;
  left: 255px;
}
#amper2 {
  position: absolute;
  top: 486px;
  left: 355px;
}
#amper3 {
  position: absolute;
  top: 489px;
  left: 460px;
}
#amper4 {
  position: absolute;
  top: 488px;
  left: 565px;
}
#amper5 {
  position: absolute;
  top: 488px;
  left: 665px;
}
#amper6 {
  position: absolute;
  top: 491px;
  left: 783px;
}
#amper7 {
  position: absolute;
  top: 495px;
  left: 915px;
}
#amper8 {
  position: absolute;
  top: 494px;
  left: 1020px;
}

.value {
  font-family: sans-serif;
  font-size: 17px;
  text-align: center;
  padding-top: 8px;
}

.amper-hide {
  opacity: 0;
}


.switch-btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 14px;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
  background-color: var(--btn-gray);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.switch-btn span {
  display: inline-block;
  font-size: 0.7rem;
  cursor: pointer;
  color: var(--btn-gray);
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(83, 83, 83);
  border-radius: 0.5rem;
  margin: 0;
  display: block;
  transition: all 0.1s linear;
}

.slide .switch {
  left: 50%;
}

#btn-one {
  top: 380px;
  left: 810px;
}

#btn-two {
  top: 380px;
  left: 600px;
  z-index: 99;
}

#btn-three {
  top: 340px;
  left: 380px;
}

.switch:active {
  transform: translateY(0.5px);
}